.idea/
*.iml
# Global ignores for generated content:
**/chap_refs.xml
arr/ARR_cite_proc.xml
arr/ARR_set.xml
arr/Makefile.book
arr/Makefile.epub3
arr/Makefile.html_chunked_ajax
arr/Makefile.html_chunked_vanilla
arr/Reference_database.xml~
arr/arr.fo
arr/arr.pdf
arr/arr_set_img_scaled.xml
arr/arr_title_fo.xsl
arr/html_chunked
arr/html_chunked_ajax