/* ARR CSS3 Stylesheet */
/* Restyle the TOC to drop the list items symbols */
div.toc ul {
	list-style-type: none;
}
div.list-of-figures ul {
	list-style-type: none;
}
div.list-of-tables ul {
	list-style-type: none;
}
div.list-of-equations ul {
	list-style-type: none;
}

/* restyle the inline glossterms to match those in the print eddition.*/
a.glossterm {
   color: inherit;
   font-style: normal;
   text-decoration: underline;
   text-decoration-style: dashed;
}
em.glossterm {
   font-style: normal;
}
/*********************************************/
/* Table formatting */
/* Centre align small tables */
div.table  {
   text-align: center;
}
div.informaltable {
   text-align: center;
}

/* Font, colour, borders, etc */
/* First we'll format individual cells: */
thead th {
   background-color: #005092;
   color: #FFFFFF;
   text-align: center;
}
tbody th {
   background-color: #61a9d3;
   color: #FFFFFF;
   text-align: center;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
   background-color: #b9daf3;
 }

/*********************************************
 * Set some CSS colours, mostly used in      
 * tables                                    */
.colour_bfcbe3 {
	background-color: #bfcbe3;
}

.colour_ada1c6 {
	background-color: #ada1c6;
}
.colour_c9d69e {
	background-color: #c9d69e;
}
.colour_c4dce7 {
	background-color: #c4dce7;
}
.colour_d0b3b2 {
	background-color: #d0b3b2;
}

/*********************************************/
/* Equation formatting
 * 
 * Use the existing DocBook div elements and
 * the float to obtain. */
div.equation-title {
   float: right;
   font-weight: normal;
}
.equation-contents {
   text-align: center;
}
.equation-break {
   clear: both;
}

/*********************************************/
/* Figure Layout */
div.figure {
   text-align: center;
}

/*********************************************/
/* Definition Lists */
dt {
   font-weight: normal;
   font-style:italic;
}
dd p {
   padding-left: 20px;
}

/* Sidebars */
div.sidebar p {
   background-color: #c9c9c9;
   border-style: solid;
   border-width: 2px;
   border-color: black;
         }
