/* ARR CSS3 Stylesheet */

/* restyle the inline glossterms to match those in the print eddition.*/
a.glossterm {
   color: inherit;
   font-style: normal;
   text-decoration: underline;
   text-decoration-style: dashed;
}
em.glossterm {
   font-style: normal;
}
