/* ARR CSS3 Stylesheet */

/* restyle the inline glossterms to match those in the print eddition.*/
a.glossterm {
   color: inherit;
   font-style: normal;
   text-decoration: underline;
   text-decoration-style: dashed;
}
em.glossterm {
   font-style: normal;
}
/*********************************************/
/* Table formatting */
/* Centre align small tables */
div.table  {
   text-align: center;
}
div.informaltable {
   text-align: center;
}

/* Font, colour, borders, etc */
/* First we'll format individual cells: */
thead th {
   background-color: #005092;
   color: #FFFFFF;
   text-align: center;
}
tbody th {
   background-color: #61a9d3;
   color: #FFFFFF;
   text-align: center;
}
