/* ARR CSS3 Stylesheet */
/* Adjust the nested lists in the TOC so that we get nested numbers such as:
 * 1. Intro
 * 1.1 Overview
 * etc
 */
div.toc ol {
   counter-reset: item;
}
div.toc li {
   display: block;
}
div.toc li:before {
   content: counters(item, ".") " ";
   counter-increment: item;
}

/* restyle the inline glossterms to match those in the print eddition.*/
a.glossterm {
   color: inherit;
   font-style: normal;
   text-decoration: underline;
   text-decoration-style: dashed;
}
em.glossterm {
   font-style: normal;
}
/*********************************************/
/* Table formatting */
/* Centre align small tables */
div.table  {
   text-align: center;
}
div.informaltable {
   text-align: center;
}

/* Font, colour, borders, etc */
/* First we'll format individual cells: */
thead th {
   background-color: #005092;
   color: #FFFFFF;
   text-align: center;
}
tbody th {
   background-color: #61a9d3;
   color: #FFFFFF;
   text-align: center;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
   background-color: #b9daf3;
 }

/*********************************************/
/* Equation formatting
 * 
 * Use the existing DocBook div elements and
 * the float to obtain. */
div.equation-title {
   float: right;
   font-weight: normal;
}
.equation-contents {
   text-align: center;
}
.equation-break {
   clear: both;
}

/*********************************************/
/* Figure Layout */
div.figure {
   text-align: center;
}

/*********************************************/
/* Definition Lists */
dt {
   font-weight: normal;
   font-style:italic;
}
dd p {
   padding-left: 20px;
}
